.subheader,
p.lead {
    color: #777;
}
hr,
ul.tabs:after {
    clear: both;
}
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    background: #fff;
    font: 16px/21px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
blockquote,
q {
    quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #181818;
    font-family: Georgia, "Times New Roman", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-weight: inherit;
}
h1 {
    font-size: 46px;
    line-height: 50px;
    margin-bottom: 14px;
}
h2 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10px;
}
h3 {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 8px;
}
h4 {
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 4px;
}
h5 {
    font-size: 17px;
    line-height: 24px;
}
h6 {
    font-size: 14px;
    line-height: 21px;
}
p {
    margin: 0 0 20px;
}
p img {
    margin: 0;
}
p.lead {
    font-size: 21px;
    line-height: 27px;
}
em {
    font-style: italic;
}
strong {
    font-weight: 700;
    color: #333;
}
small {
    font-size: 80%;
}
blockquote,
blockquote p {
    font-size: 17px;
    line-height: 24px;
    color: #777;
    font-style: italic;
}
blockquote {
    margin: 0 0 20px;
    padding: 9px 20px 0 19px;
    border-left: 1px solid #ddd;
}
blockquote cite {
    display: block;
    font-size: 12px;
    color: #555;
}
blockquote cite:before {
    content: "\2014 \0020";
}
blockquote cite a,
blockquote cite a:visited {
    color: #555;
}
hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    margin: 10px 0 30px;
    height: 0;
}
a,
a:visited {
    color: #333;
    text-decoration: underline;
    outline: 0;
}
a:focus,
a:hover {
    color: #000;
}
p a,
p a:visited {
    line-height: inherit;
}
ol,
ul {
    margin-bottom: 20px;
}
ul {
    list-style: none;
}
ol {
    list-style: decimal;
}
ol,
ul.circle,
ul.disc,
ul.square {
    margin-left: 30px;
}
ul.square {
    list-style: square;
}
ul.circle {
    list-style: circle;
}
ul.disc {
    list-style: disc;
}
ol ol,
ol ul,
ul ol,
ul ul {
    margin: 4px 0 5px 30px;
    font-size: 90%;
}
ol ol li,
ol ul li,
ul ol li,
ul ul li {
    margin-bottom: 6px;
}
li {
    line-height: 18px;
    margin-bottom: 12px;
}
li p,
ul.large li {
    line-height: 21px;
}
img.scale-with-grid {
    max-width: 100%;
    height: auto;
}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    background: #eee;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(0, 0, 0, 0.2) 100%) #eee;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2))) #eee;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(0, 0, 0, 0.2) 100%) #eee;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(0, 0, 0, 0.2) 100%) #eee;
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(0, 0, 0, 0.2) 100%) #eee;
    background: linear-gradient(top, rgba(255, 255, 255, 0.2) 0, rgba(0, 0, 0, 0.2) 100%) #eee;
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #444;
    display: inline-block;
    font-size: 11px;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, 0.75);
    cursor: pointer;
    margin-bottom: 20px;
    line-height: normal;
    padding: 8px 10px;
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
    color: #222;
    background: #ddd;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0, rgba(0, 0, 0, 0.3) 100%) #ddd;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3))) #ddd;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0, rgba(0, 0, 0, 0.3) 100%) #ddd;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0, rgba(0, 0, 0, 0.3) 100%) #ddd;
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0, rgba(0, 0, 0, 0.3) 100%) #ddd;
    background: linear-gradient(top, rgba(255, 255, 255, 0.3) 0, rgba(0, 0, 0, 0.3) 100%) #ddd;
    border: 1px solid #888;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
}
.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
    border: 1px solid #666;
    background: #ccc;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.35) 0, rgba(10, 10, 10, 0.4) 100%) #ccc;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0.35)), color-stop(100%, rgba(10, 10, 10, 0.4))) #ccc;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35) 0, rgba(10, 10, 10, 0.4) 100%) #ccc;
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0.35) 0, rgba(10, 10, 10, 0.4) 100%) #ccc;
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.35) 0, rgba(10, 10, 10, 0.4) 100%) #ccc;
    background: linear-gradient(top, rgba(255, 255, 255, 0.35) 0, rgba(10, 10, 10, 0.4) 100%) #ccc;
}
.button.full-width,
button.full-width,
input[type="submit"].full-width,
input[type="reset"].full-width,
input[type="button"].full-width {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
}
ul.tabs,
ul.tabs li {
    padding: 0;
    display: block;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
ul.tabs {
    margin: 0 0 20px;
    border-bottom: solid 1px #ddd;
    zoom: 1;
}
ul.tabs li {
    width: auto;
    height: 30px;
    float: left;
    margin-bottom: 0;
}
ul.tabs li a {
    display: block;
    text-decoration: none;
    width: auto;
    height: 29px;
    padding: 0 20px;
    line-height: 30px;
    border: 1px solid #ddd;
    border-width: 1px 1px 0 0;
    margin: 0;
    background: #f5f5f5;
    font-size: 13px;
}
ul.tabs li a.active {
    background: #fff;
    height: 30px;
    position: relative;
    top: -4px;
    padding-top: 4px;
    border-left-width: 1px;
    margin: 0 0 0 -1px;
    color: #111;
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
}
ul.tabs li:first-child a.active {
    margin-left: 0;
}
ul.tabs li:first-child a {
    border-width: 1px 1px 0;
    -moz-border-radius-topleft: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
}
ul.tabs li:last-child a {
    -moz-border-radius-topright: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
}
ul.tabs-content {
    margin: 0;
    display: block;
}
ul.tabs-content > li {
    display: none;
}
ul.tabs-content > li.active {
    display: block;
}
ul.tabs:after,
ul.tabs:before {
    content: "\0020";
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
fieldset,
form {
    margin-bottom: 20px;
}
input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: 0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0 0 20px;
    width: 210px;
    max-width: 100%;
    display: block;
    background: #fff;
}
select {
    padding: 0;
    width: 220px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
textarea {
    min-height: 60px;
}
label,
legend {
    display: block;
    font-weight: 700;
    font-size: 13px;
}
input[type="checkbox"] {
    display: inline;
}
label span,
legend span {
    font-weight: 400;
    font-size: 13px;
    color: #444;
}
.remove-bottom {
    margin-bottom: 0 !important;
}
.half-bottom {
    margin-bottom: 10px !important;
}
.add-bottom {
    margin-bottom: 20px !important;
}

td{padding-bottom:.6em}th{width:6em;font-weight:700;text-align:left}