:root {
    --content-primary: rgb(0, 0, 0);
    --content-secondary: rgb(88, 110, 117);
    --background: rgb(253, 246, 227);
    --code-background: rgb(238, 232, 213);
    --code-border: rgb(147, 161, 161);
}

.dark {
    --content-primary: rgb(218, 218, 218);
    --content-secondary: rgb(140, 140, 140);
    --background: rgb(20, 20, 20);
    --code-background: rgb(30, 30, 30);
    --code-border: rgb(50, 50, 50);
}